.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

form div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input,
form select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  font-size: 16px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

li h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

li ul {
  margin: 0;
  padding: 0;
}

li ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

li ul li button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
